
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #cde4ff;
  color: #333;
  line-height: 1.5;
  margin: 2%;
  display: flex;
  flex-direction: row;
}

header{
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 5%;
}

.esquerda{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}
.principal{
  width: 50%;
  height: 100vh;
  padding-top: 5%;
}
.titulo-form{
  margin-bottom: 3%;
  font-size: 15pt;
}
.formulario{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 75%;
  height: 50vh;
  gap: 5%;
  border-radius: 10px;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tag{
  display: flex;
  flex-direction: row;
}
.termos-tag{
  color: grey;
  font-size: 10pt;
  margin: 2%;
}
.image-paragrafh{
  font-size: 12pt;
}
input, button{
  padding: 2.5%;
  border-radius: 10px;
  border: none;
  outline: 0;
  background-color: #CCE3FD;
}
button{
  width: 65%;
  background-color: #FA9B09;
  color: white;
  font-size: 20px;
}


.imagem-free{
  width: 60%;
}
.imagem-momentum{
  display: flex;
  width: 11%;
}
